body{

  border:1px solid black;
  padding:2px;
  margin-left:10%;
  margin-right:10%;
  margin-top:0px;
  background-color:#9999FF;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.intro{

 padding:5px;
 font-family:Arial, Helvetica, sans-serif;

}

.footer{

	
	background-color:#CCCCCC;
	text-align:center;
	padding:10px;
}